<html>
<head>
<title>UI</title>
  	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<style>
</style>

<body>

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#myPage">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="SignUp.html">Sign Up</a></li>
        <li><a href="Login.html">Log In</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container" data-spy="affix" data-offset-top="205">
	<div class="row">
		<nav class="col-sm-3">
			<ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="205">
				<li class="active"><a href="#section1">Section 1</a></li>
				<li><a href="#section2">Section 2</a></li>
				<li><a href="#section3">Section 3</a></li>
			</ul>
		</nav>
		<div class="col-sm-9">
			<div class="container-fluid">
				<form>
					<div class="input-group">
						<input type="text" class="form-control" size="50" placeholder="Enter the text" required>
						<div class="input-group-btn">
							<button type="button" class="btn">Search</button>
						</div>
					</div>
				</form>
				<div class = "row">
					<div class = "col-md-3">
						<div class="card">
							<img src="" class="card-img-top" alt="tumbnail1">
							<div class="card-body">
								<h5><a href="#link1">Title 1</a></h5>
							</div>
						</div>
					</div>
					<div class = "col-md-3">
						<div class="card">
							<img src="" class="card-img-top" alt="tumbnail2">
							<div class="card-body">
								<h5><a href="#link1">Title 2</a></h5>
							</div>
						</div>
					</div>
					<div class = "col-md-3">						
						<div class="card">
							<img src="" class="card-img-top" alt="tumbnail3">
							<div class="card-body">
								<h5><a href="#link1">Title 3</a></h5>
							</div>
						</div>
					</div>
				</div>
				<div class = "row">
					<div class = "col-md-3">
						<div class="card">
							<img src="" class="card-img-top" alt="tumbnai4">
							<div class="card-body">
								<h5><a href="#link1">Title 4</a></h5>
							</div>
						</div>
					</div>
					<div class = "col-md-3">
						<div class="card">
							<img src="" class="card-img-top" alt="tumbnail5">
							<div class="card-body">
								<h5><a href="#link1">Title 5</a></h5>
							</div>
						</div>
					</div>
					<div class = "col-md-3">						
						<div class="card">
							<img src="" class="card-img-top" alt="tumbnail6">
							<div class="card-body">
								<h5><a href="#link1">Title 6</a></h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</body>

</html>